node_modules/todomvc-app-css/*
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common/*
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css

node_modules/requirejs/**
!node_modules/requirejs/require.js

node_modules/emily/**

node_modules/olives/**

node_modules/filter-observable-store/**
!node_modules/filter-observable-store/index.js

node_modules/url-highway/**
!node_modules/url-highway/index.js

node_modules/.bin
node_modules/browserify
node_modules/watchify
